
<span style="display: inline;" id="full_letter">

<form id="correspondenceForm">

<table>
<tr>
<td style="border-style:none"><input class="btn btn-primary" type = "submit" value = "Submit" /></td>
</tr>
</table>
<br /> <br />

<textarea style="display: inline;" id="full_text" name="full_text" cols="120" rows="%(rows)s" wrap>
%(full_text)s
</textarea>

<br /> <br />
<table>
<tr>
<td style="border-style:none"><input class="btn btn-primary" type = "submit" value = "Submit" /></td>
</tr>
</table>

</form>

</span>
